body {
    background-color: #F6EEC9;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #799351;
    margin: 0;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-size: 32px;
}

a {
    color: white;
    text-decoration: none;
}

.game-area {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 48px;
}

.human-box, .computer-box {
    display: flex;
    flex-direction: column;
}

.human-score-box, .computer-score-box {
    display: flex;
}

.human-score, .computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    width: 32px; 
    height: 525px;
    border-radius: 5px;
}

.human-score-tiles, .computer-score-tiles {
    margin-top: auto;
}

.score-tile {
    background-color: yellow;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 4px;
}

.half-score-tile {
    background-color: yellow;
    width: 25px;
    height: 12.5px;
    border-radius: 2.5px;
    margin-bottom: 4px;
}

.human-choices, .computer-choices {
    display: flex;
    flex-direction: column;
}

p {
    background-color: #636363;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    font-family: "Rowdies", sans-serif;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px; 
}

.human-box p {
    margin-left: auto;
}

button {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 175px;
    height: 175px;
    border: 2px solid black;
    border-radius: 5px;
}

.rock {
    background-image: url("./images/rock.png");
    border-radius: 0px 0px 5px 5px;
}

.paper {
    background-image: url("./images/paper.png");
}

.scissors {
    background-image: url("./images/scissors.png");
}


.footer {
    color: #5C4033;
    text-align: center;
    font-family: "Nothing You Could Do", Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.footer a {
    color: #5C4033;
    text-decoration: underline;
}